.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.link:hover {
  color:rgb(0, 0, 213)
}
.coinImg {
  width:30px;
  height:30px;
  margin-right:5px;
}
.coin {
  display: flex;
  align-items: center;
}